In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Cargar data

In [2]:
reducción_df = pd.read_csv('./datasetReduccion.csv', encoding='utf-8')

In [3]:
reducción_df.head()

,Genero,Edad,Delito,Sentencia,Apelacion,Colaboracion con la justicia,programas de rehabilitación y tramiento,Amnistía o indulto,Motivos de salud,Reducción de pena
0,Femenino,26,Homicidio calificado,25,La apelación fue rechazada,No,Si,Si,Si,2
1,Masculino,56,Homicidio simple,20,No hubo apelaciones,Si,Si,Si,Si,3
2,Femenino,26,Homicidio simple,30,La apelación fue rechazada,No,No,Si,No,2
3,Masculino,21,Homicidio calificado,35,La apelación fue rechazada,No,No,Si,No,1
4,Masculino,42,Homicidio simple,25,No hubo apelaciones,No,No,Si,No,1

Partición de dataset

In [5]:
X = reducción_df.drop(['Reducción de pena'], axis=1)
Y = reducción_df['Reducción de pena']
X.head()

,Genero,Edad,Delito,Sentencia,Apelacion,Colaboracion con la justicia,programas de rehabilitación y tramiento,Amnistía o indulto,Motivos de salud
0,Femenino,26,Homicidio calificado,25,La apelación fue rechazada,No,Si,Si,Si
1,Masculino,56,Homicidio simple,20,No hubo apelaciones,Si,Si,Si,Si
2,Femenino,26,Homicidio simple,30,La apelación fue rechazada,No,No,Si,No
3,Masculino,21,Homicidio calificado,35,La apelación fue rechazada,No,No,Si,No
4,Masculino,42,Homicidio simple,25,No hubo apelaciones,No,No,Si,No

In [20]:
numerical = X[['Edad','Sentencia']]
numerical.head()

   Edad  Sentencia
0    26         25
1    56         20
2    26         30
3    21         35
4    42         25

In [6]:
categoriacal = X.drop(['Edad','Sentencia'], axis=1)
categoriacal.head(2)

,Genero,Delito,Apelacion,Colaboracion con la justicia,programas de rehabilitación y tramiento,Amnistía o indulto,Motivos de salud
0,Femenino,Homicidio calificado,La apelación fue rechazada,No,Si,Si,Si
1,Masculino,Homicidio simple,No hubo apelaciones,Si,Si,Si,Si

In [12]:
Genero = {'Femenino':1, 'Masculino':2}
Delito = {'Simple': 1, 'Calificado': 2}
Apelacion = {'La apelacion fue aceptada':1, 'No hubo apelaciones':2, 'La apelacion fue rechazada':3}
ColaboracionJusticia ={'Si':1, 'No':2}
ProgramasRehabilitacion= {'Si':1, 'No':2}
AmnistiaOIndulto ={'Si':1, 'No':2}
MotivosSalud ={'Si':1, 'No':2}

In [15]:
cat_numerical = pd.DataFrame()
cat_numerical['Genero'] = categoriacal['Genero'].copy().map(Genero)
cat_numerical['Delito'] = categoriacal['Delito'].copy().map(Delito)
cat_numerical['Apelacion'] = categoriacal['Apelacion'].copy().map(Apelacion)
cat_numerical['Colaboracion con la justicia'] = categoriacal['Colaboracion con la justicia'].copy().map(ColaboracionJusticia)
cat_numerical['programas de rehabilitación y tramiento'] = categoriacal['programas de rehabilitación y tramiento'].copy().map(ProgramasRehabilitacion)
cat_numerical['Amnistía o indulto'] = categoriacal['Amnistía o indulto'].copy().map(AmnistiaOIndulto)
cat_numerical['Motivos de salud'] = categoriacal['Motivos de salud'].copy().map(MotivosSalud)

atrib = categoriacal.keys()
atrib

Index(['Genero', 'Delito', 'Apelacion', 'Colaboracion con la justicia',
       'programas de rehabilitación y tramiento', 'Amnistía o indulto',
       'Motivos de salud'],
      dtype='object')

In [16]:
cat_numerical.head()

,Genero,Delito,Apelacion,Colaboracion con la justicia,programas de rehabilitación y tramiento,Amnistía o indulto,Motivos de salud
0,1,NaN,NaN,2,1,1,1
1,2,NaN,2.0,1,1,1,1
2,1,NaN,NaN,2,2,1,2
3,2,NaN,NaN,2,2,1,2
4,2,NaN,2.0,2,2,1,2

In [17]:
cat_numerical = cat_numerical.fillna(0)
cat_numerical.head()

,Genero,Delito,Apelacion,Colaboracion con la justicia,programas de rehabilitación y tramiento,Amnistía o indulto,Motivos de salud
0,1,0.0,0.0,2,1,1,1
1,2,0.0,2.0,1,1,1,1
2,1,0.0,0.0,2,2,1,2
3,2,0.0,0.0,2,2,1,2
4,2,0.0,2.0,2,2,1,2

In [21]:
X = pd.concat([numerical, cat_numerical], axis=1)
X.head()

,Edad,Sentencia,Genero,Delito,Apelacion,Colaboracion con la justicia,programas de rehabilitación y tramiento,Amnistía o indulto,Motivos de salud
0,26,25,1,0.0,0.0,2,1,1,1
1,56,20,2,0.0,2.0,1,1,1,1
2,26,30,1,0.0,0.0,2,2,1,2
3,21,35,2,0.0,0.0,2,2,1,2
4,42,25,2,0.0,2.0,2,2,1,2


División de datos para entrenamiento

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=0)

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Implementación de Random Forest

In [26]:
from sklearn.ensemble import RandomForestRegressor

In [27]:
rf_reg = RandomForestRegressor(random_state=42, n_estimators=500)
regressor = rf_reg.fit(X_train, Y_train)
y_pred = regressor.predict(X_test)

Cálculo de Métricas

In [28]:
from sklearn import metrics

In [29]:
print('Mean Absolute Error: ', metrics.mean_absolute_error(Y_test, y_pred))
print('Mean Squared Error: ', metrics.mean_squared_error(Y_test, y_pred))
print('Root Mean Squared Rerror: ', np.sqrt(metrics.mean_squared_error(Y_test, y_pred)))

Mean Absolute Error:  0.370625
Mean Squared Error:  0.24690024999999996
Root Mean Squared Rerror:  0.49689058151669563

Exportar modelo

In [30]:
import joblib

In [31]:
model_path = './trained_model.joblib'
joblib.dump(regressor, model_path)

scaler_path = './trained_scaler.joblib'
joblib.dump(sc, scaler_path)

['./trained_scaler.joblib']

Predicción

Interpretación de pregunta

In [94]:
data = pd.read_csv('data.csv')
data.head()

      Campos                 Descripcion
0     Genero                   Masculino
1     Genero                    Femenino
2     Delito        Homicidio calificado
3     Delito            Homicidio simple
4  Apelacion  La apelación fue rechazada

In [36]:
from sentence_transformers import SentenceTransformer

In [37]:
model = SentenceTransformer('sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2')

Downloading pytorch_model.bin: 100%|██████████| 471M/471M [05:24<00:00, 1.45MB/s]
Downloading (…)nce_bert_config.json: 100%|██████████| 53.0/53.0 [00:00<?, ?B/s]
Downloading (…)tencepiece.bpe.model: 100%|██████████| 5.07M/5.07M [00:03<00:00, 1.34MB/s]
Downloading (…)cial_tokens_map.json: 100%|██████████| 239/239 [00:00<?, ?B/s]
Downloading tokenizer.json: 100%|██████████| 9.08M/9.08M [00:05<00:00, 1.78MB/s]
Downloading (…)okenizer_config.json: 100%|██████████| 480/480 [00:00<?, ?B/s]
Downloading unigram.json: 100%|██████████| 14.8M/14.8M [00:08<00:00, 1.69MB/s]
Downloading (…)900fe39/modules.json: 100%|██████████| 229/229 [00:00<?, ?B/s]
Downloading pytorch_model.bin:  80%|████████  | 377M/471M [19:45<04:52, 318kB/s]

In [95]:
data['Embedding'] = data["Descripcion"].apply(lambda x: model.encode(x))
data.head()

,Campos,Descripcion,Embedding
0,Genero,Masculino,"[0.0028098226, 0.28868827, -0.25101352, -0.037..."
1,Genero,Femenino,"[-0.0909995, 0.057980537, 0.05066517, 0.187216..."
2,Delito,Homicidio calificado,"[0.18678103, 0.09253031, -0.37106478, -0.01637..."
3,Delito,Homicidio simple,"[0.16404267, 0.204815, -0.20817995, 0.0866503,..."
4,Apelacion,La apelación fue rechazada,"[-0.14890194, 0.3409042, 0.012674256, -0.04179..."

In [40]:
from openai.embeddings_utils import cosine_similarity

In [96]:
description = 'Una persona es sentenciada a 35 años de cárcel por homicicdio calificado, sin embargo se presenta una apelación que es aceptada y le reducen la condena, además entra a programas de rehabilitación'
description_embed = model.encode(description)
data['Similarity'] = data["Embedding"].apply(lambda x: cosine_similarity(x, description_embed))
data = data.sort_values('Similarity', ascending=False)
selected_data =  data.head()

In [97]:
data.head()

,Campos,Descripcion,Embedding,Similarity
8,programas de rehabilitación y tramiento,programas de rehabilitación y tramiento,"[0.0509179, -0.11254731, 0.01503732, 0.2453223...",0.479276
2,Delito,Homicidio calificado,"[0.18678103, 0.09253031, -0.37106478, -0.01637...",0.411108
9,Amnistía o indulto,Amnistía o indulto,"[-0.010927631, 0.39389804, -0.6309355, -0.4097...",0.379297
3,Delito,Homicidio simple,"[0.16404267, 0.204815, -0.20817995, 0.0866503,...",0.356841
6,Apelacion,La apelación fue aceptada,"[-0.1225843, 0.14890775, -0.09785211, -0.12469...",0.341012

In [98]:
case_data = {'Edad': 0,'Sentencia':'', 'Genero':'', 'Delito':'',
       'Apelacion':'','Colaboracion con la justicia':'', 'programas de rehabilitación y tramiento':'',
       'Amnistía o indulto':'', 'Motivos de salud':''}

In [99]:
case_data[selected_data.iloc[0,0]] = selected_data.iloc[0,1]
case_data[selected_data.iloc[1,0]] = selected_data.iloc[1,1]
case_data[selected_data.iloc[2,0]] = selected_data.iloc[2,1]
case_data[selected_data.iloc[3,0]] = selected_data.iloc[3,1]
case_data[selected_data.iloc[4,0]] = selected_data.iloc[4,1]

In [90]:
case_df = pd.DataFrame(case_data, index=[0])
case_df

,Edad,Sentencia,Genero,Delito,Apelacion,Colaboracion con la justicia,programas de rehabilitación y tramiento,Amnistía o indulto,Motivos de salud
0,0,,,Homicidio simple,La apelación fue aceptada,,programas de rehabilitación y tramiento,Amnistía o indulto,

In [100]:
case_df['Genero'] = case_df['Genero'].copy().map(Genero)
case_df['Delito'] = case_df['Delito'].copy().map(Delito)
case_df['Apelacion'] = case_df['Apelacion'].copy().map(Apelacion)
case_df['Colaboracion con la justicia'] = case_df['Colaboracion con la justicia'].copy().map(ColaboracionJusticia)
case_df['programas de rehabilitación y tramiento'] = case_df['programas de rehabilitación y tramiento'].copy().map(ProgramasRehabilitacion)
case_df['Amnistía o indulto'] = case_df['Amnistía o indulto'].copy().map(AmnistiaOIndulto)
case_df['Motivos de salud'] = case_df['Motivos de salud'].copy().map(MotivosSalud)

In [101]:
case_df = case_df.fillna(0)
case_df

,Edad,Sentencia,Genero,Delito,Apelacion,Colaboracion con la justicia,programas de rehabilitación y tramiento,Amnistía o indulto,Motivos de salud
0,0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
New_df_scaled = sc.transform(case_df)
prediction = regressor.predict(New_df_scaled)
print('La reducción de la pena será: ',round(float(prediction)))

Cargar modelo

In [ ]:
path_model = './trained_model.joblib'
loaded_model = joblib.load(path_model)

In [ ]:
x_scaled = sc.transform(case_df)
y_pred = loaded_model.predict(x_scaled)
print('La reducción de la pena es de  ',round(y_pred[0]),' años')